[submodule "cfe"]
	path = cfe
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/cfe.git
	branch = main
[submodule "osal"]
	path = osal
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/osal.git
	branch = main
[submodule "psp"]
	path = psp
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/psp.git
  branch = main
[submodule "apps/ci_lab"]
	path = apps/ci_lab
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/ci_lab.git
  branch = main
[submodule "apps/sample_app"]
	path = apps/sample_app
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/sample_app.git
	branch = main
[submodule "apps/sample_lib"]
	path = libs/sample_lib
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/sample_lib.git
  branch = main
[submodule "apps/sch_lab"]
	path = apps/sch_lab
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/sch_lab.git
  branch = main
[submodule "apps/to_lab"]
	path = apps/to_lab
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/to_lab.git
  branch = main
[submodule "tools/cFS-GroundSystem"]
	path = tools/cFS-GroundSystem
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/cfs-groundsystem.git
  branch = main
[submodule "tools/elf2cfetbl"]
	path = tools/elf2cfetbl
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/elf2cfetbl.git
  branch = main
[submodule "tools/tblCRCTool"]
	path = tools/tblCRCTool
	url = ssh://git@bitbucket.ga.com:7999/ssetcom/tblcrctool.git
  branch = main
[submodule "apps/sbn"]
	path = apps/sbn
	url = https://github.com/trenst/SBN.git
